[Unit]
Description=API echo service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/ehsan/test/api.py
WorkingDirectory=/home/ehsan/test
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
